<section class="about-area pb-60 pt-100 bg-bottom-cover" style="background-image:url(assets/img/home/about-section-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <!-- <div class="section-title">
                    <h2>The Scientific Group Advantage</h2>
                </div> -->
                <div class="about-content">
                      <h4 class="text-left" style="line-height:1.5em;">Scientific Construction offers full commercial and industrial general contracting services
from ground up construction to remodels and retrofits. With close to 6 decades of combined experience, we operate on the belief that the project should be done correctly the
first time. We consistently deliver a finished project in a timely fashion and stress free.</h4>
<h4 class="text-left" style="line-height:1.5em;">Our team brings technical knowledge and resourcefulness to delivery of our construction
services. We have the ability through our global sourcing division located in Hong Kong to
offer complete turnkey projects from foundation to finish carpentry.</h4>
<h4 class="text-left" style="line-height:1.5em;">Scientific has all of the abilities of a traditional general contractor as well as the required
services distinct to ground up construction as well as restaurant, arena and hospitality
venues. We combine the most effective processes, leading technologies and passionate
people to focus on what matters most: your final project.</h4>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xl-6 text-center mb-40">
              <img src="assets/img/logo/logo-black.png" style="max-height:200px;">
            </div>
            <div class="col-xl-6 text-center mb-40">
              <img src="assets/img/logo-grid.png" style="max-height:300px;">
            </div>
        </div> -->
    </div>
</section>
